


#hero {
    height: 100vh; 
    padding: 50px 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #005843FF; 
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


.navbar{
    background-color: #005843FF;

}
.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.navbar-brand img {
    height: 50px;
    width: auto;
    object-fit: contain;
    margin-bottom: -8px;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
}

.navbar-brand {
    color: white;
    font-size: 47px;
    font-weight: bold;
}

.bt_nv {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    padding: 8px 30px;
    cursor: pointer;
}

.bt_nv2 {
    background: #73E5FFFF;
    border-radius: 50px;
    border: none;
    color: black;
    font-size: 18px;
    padding: 8px 30px;
    cursor: pointer;
}

.bt3 {
    background: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 8px 80px;
    cursor: pointer;
    border-radius: 50px;
}

.bt_nv4 {
    background: #FFE51DFF;
    color: #005843;
    padding: 25px 70px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #FFE51DFF;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.bt_nv5 {
    background: rgba(255, 255, 255, 0);
    color: #FFE51DFF;
    padding: 25px 70px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #FFE51DFF;
    font-size: 20px;
    font-weight: 500;
}

.position-absolute.start-0 {
    left: 200px !important;
}

.position-absolute.end-0 {
    right: 200px !important;
}

h1 {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFFFF;
    font-size: 7rem;
    padding: 20px;
}

h5 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFFFF;
    font-size: 1.75rem;
    font-weight: 200;
    padding: 20px;
    margin-top: -10px;
}


.logs img {
    width: 70px;  
    height: 70px; 
    object-fit: contain; 
}



h2 {
    max-width: 1700px;
    margin: 0 auto;
    text-align: center;
    font-size:2.8rem;
    padding: 20px;
}


/*Acces*/
.col-md-5 img {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
    padding-left: 150px;
}

.col-md-5  {
    background-color: #FEFEFEFF;
}


.col-md-5 h2 {
    text-align: left;
    font-size:4rem;
}


.col-md-5 h4 {
    color: #96989BFF;
    font-size: 1.50rem;
    font-weight: 350;
    padding: 20px;
    max-width: 700px

}

.list{
    color: black;
    font-size: 1.40rem;
    font-weight: 520;
    padding: 20px;
    list-style: none; 
    padding-left:10px; 
}


.list i {
    font-size: 24px; 
    color: black; 
    padding-right:10px; 
    color: #005843;

}

.col-md-6 h2 {
    text-align: left;
    font-size:4rem;
}


.col-md-4 h4 {
    color: #96989BFF;
    font-size: 1.70rem;
    font-weight: 350;
    padding: 20px;
    max-width: 700px

}

.col-md-12 img {
    width: 100%; 
    max-width: 1500px; 
    height: auto;
    border-radius: 20px;
}

#Comunicacion {
    background: linear-gradient(to bottom, white 70%, #005843 30%);
}

/*notification*/
#Notifications {
    background: #005843;
}

.stats-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 20px 0;
    gap: 50px; 
}

.stat {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.stat-number {
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

.stat-text {
    font-size: 18px;
    font-weight: 500;
    color: white;
    max-width:100px

}

#Notifications .col-md-5 {
    background: #005843;
}


#Notifications .col-md-5 h2{
    color: white;

}

#Notifications .col-md-5 h4 {
    color: #B2D8D0FF;
    font-size: 1.65rem;
    font-weight: 350;
    padding: 20px;
    max-width: 900px

}
/*Interface*/

#Interface .bt_nv4 {
    background-color: #005843;
    color: white;
    border: none; 
    outline: none; 
    box-shadow: none; 
}

#Interface .col-md-5 img {
    max-width: 80%; 
    height: auto;
    display: block; 
    margin-left: 30px; 
    padding-left: 0px; 
}




#Interface .col-md-6 h2 {
    text-align: left;
    font-size:4rem;
    
}


#Interface .col-md-5 h4 {
    color: #96989BFF;
    font-size: 1.55rem;
    font-weight: 350;
    padding: 20px;
    max-width: 750px

}
#Interface .col-md-5 img {
    border-radius:20px ;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
}

/*sing*/

#Sign .container {
    background-color: white;
}

#Sign  h2 {
    font-size: 4rem;
    color: #10162F;
    font-weight: 500 !important; 

}

#Sign  p {
    font-size: 1.5rem;
    color: #6c757d;
}

#Sign .store-badge {
    height: 50px;
}

.store-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.store-badge {
    display: flex;
    align-items: center;
    gap: 10px; 
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

.google-play {
    background-color: #000E25; 
    color: white;
}

.app-store {
    background-color: white;
    color: #000E25;
    border: 2px solid #000E25;
}

.store-badge .small-text {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.8;
}

.store-badge .large-text {
    font-size: 20px;
}

.store-badge .text {
    display: flex;
    flex-direction: column;
}

.store-badge .store-logo {
    width: 30px; 
    height: auto;
}

.store-badge:hover {
    transform: scale(1.05); 
}


/**/
#footer {
    background-color: #091030FF; 
    color: white;
    padding: 50px 80px;
}

#footer h2 {
    font-size: 5rem;
    font-weight: bold;
}

#footer-btn {
    background-color: #ffda44;
    color: #005843;
    font-weight: bold;
    border: none;
    padding: 20px 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

#footer-btn i {
    font-size: 20px;
}

#footer-info {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

#footer-info .info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 30px ;
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #444;
    margin-top: 300px !important;
    padding-top: 20px;
    font-size: 14px;
    color: #ffffff;
}
.info-item i {
    font-size: 30px;
}

#footer-bottom p, #footer-bottom span {
    font-size: 1.2rem; 
}
